!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items List Page</title>
</head>
 <%- include('./partials/_navbar.ejs') %>
<body>
    <h1 style = "color:blue;">Item List</h1>
    <a href='/' >'Add New Item'</a>
<li>prices</li>



    <form action="/items/users/:userId/items" method="POST">
    <input type="text" name="name">
  <input type="text" name='color'>
  <input type="number" name="price">
  <input type="'text" name="itemType">
  <input type="text" name="sellersAgreement">
  <input type="text" name="description">
  <input type="submit" value="Create">
</form>
</body>

</html>