<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <%- include('./partials/_navbar.ejs') %>

</head>
<body>
const itemSchema = new mongoose.Schema({
  itemType: {
    type: String,
    required: true,
  },
  price: {
    type: Number,
    required: true,
  },
  sellerAgreement: {
    type: Boolean,
    required: true,
},
  description: {
  type: String,
  required: true,
  },

  sold: {
    type: Boolean,
    required: true,
  },
  buy: {
    type: Number,
    required: true
  }

});
<form method="post" action="/items/users/<%=user._id%>/items">
  <input type="text" name="name">
  <input type="text" name='color'>
  <input type="submit" value="Create">

</form>
</body>

</html>